<!DOCTYPE html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container align-self-center position-fixed" style="min-width: 1920px;">
          <div class="row align-items-stretch">
            <div class="col-3 align-items-stretch border p-2 ">
              <div class="flex-row text-center">
                <strong>Chats</strong>
              </div>
              <hr>
              <a href="#" class="list-group-item list-group-item-action h-sm border-4 border-white">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Свинья Дементий</strong>
                  <small class="text-body-secondary">19:35</small>
                </div>
                <div class="col-10 mb-1 small">Хрю-Хрю</div>
              </a>
              <a href="#" class="list-group-item list-group-item-action h-sm border-4 border-white">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Дотер</strong>
                  <small class="text-body-secondary">18:42</small>
                </div>
                <div class="col-10 mb-1 small">Пошли zxc 1 на 1</div>
              </a>
              <a href="#" class="list-group-item list-group-item-action h-sm border-4 border-white ">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">Kryutoy_Muzhik</strong>
                  <small class="text-body-secondary">15:45</small>
                </div>
                <div class="col-10 mb-1 small">Здарова брат!!</div>
              </a>
            </div>
            <div class="col-9 border">
              <div class="align-self-center text-center p-1 border border-black">
                  $Username
              </div>
              <hr>
              <div class="list-group list-group-flush border-bottom overflow-auto p-3" style="height: 780px;">
                  <div class="rounded-2 bg-white border mb-3 p-3">
                    <strong>Kryutoy_Muzhik</strong>
                    Здарова брат!!
                  </div>
                  <div class="rounded-2 bg-white border mb-3 p-3">
                    <strong>Дотер</strong>
                    Пошли zxc 1 на 1
                  </div>
                  <div class="rounded-2 bg-white border mb-3 p-3">
                    <strong>Свинья Дементий</strong>
                    Хрю-Хрю
                  </div>
                </div>
                <div class="input-group p-3 align-self-end">
                  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>