<!DOCTYPE html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script>
          console.log('start script.');
          const socket = new WebSocket('ws://localhost:5003');

socket.onopen = function(event) {
    console.log('WebSocket is connected.');
};

socket.onmessage = function(event) {
    console.log('OnMessage.');
    const message = event.data;
    if (message.startsWith("CHAT_HISTORY:")) {
        const history = message.substring(13).split(";");
        displayChatHistory(history);
    } else {
        addMessageToChat(message);
    }
};

function displayChatHistory(history) {
    console.log('displayChatHistory.');
    const outerDiv = document.getElementById("Message_block");
    outerDiv.innerHTML = "";

    for (let i = 0; i < history.length; i++) {
        const innerDiv = document.createElement('div');
        innerDiv.className = "rounded-2 bg-white border mb-3 p-3";
        innerDiv.textContent = history[i];
        outerDiv.appendChild(innerDiv);
    }
}

function addMessageToChat(message) {
    console.log('addMessageToChat.');
    const innerDiv = document.createElement('div');
    innerDiv.className = "rounded-2 bg-white border mb-3 p-3";
    innerDiv.textContent = message;
    const outerDiv = document.getElementById("Message_block");
    outerDiv.appendChild(innerDiv);
}

function sendMessageToServer(){
    message = document.getElementById("input_message").value;
    socket.send(message);
}
        </script>
    </head>
    <body>
        <div class="container align-self-center position-fixed mw-100 mh-100">
          <div class="row align-items-stretch ">
            <div class="col-3 align-items-stretch border p-2 " style="max-width: 100%;">
              <div class="flex-row text-center">
                <strong>Chats</strong>
              </div>
              <hr>
              <a href="#" class="list-group-item list-group-item-action h-sm border-4 border-white ">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">User1</strong>
                  <small class="text-body-secondary">Date</small>
                </div>
                <div class="col-10 mb-1 small">Test Message</div>
              </a>
              <a href="#" class="list-group-item list-group-item-action h-sm border-4 border-white">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">User2</strong>
                  <small class="text-body-secondary">Date</small>
                </div>
                <div class="col-10 mb-1 small">Test Message</div>
              </a>
              <a href="#" class="list-group-item list-group-item-action h-sm border-4 border-white">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">User3</strong>
                  <small class="text-body-secondary">Date</small>
                </div>
                <div class="col-10 mb-1 small">Test Message</div>
              </a>
            </div>
            <div class="col-9 border">
              <div class="align-self-center text-center p-1 border border-black">
                  $Username
              </div>
              <hr>
              <div class="list-group list-group-flush border-bottom overflow-auto p-3 overflow-auto" style="max-width: 853px; max-height: 255px;" id="Message_block">
                  
                </div>
                <div class="input-group p-3 align-items-end">
                  <input type="text" id="input_message" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">

                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="sendMessageToServer()">Button</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>