<!DOCTYPE html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container-fluid">
          <div class="row align-items-stretch ">
            <div class="col-3 align-items-stretch border">
              <div class="row text-center">
                <strong>Chats</strong>
              </div>
              <hr>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">User1</strong>
                  <small class="text-body-secondary">Date</small>
                </div>
                <div class="col-10 mb-1 small">Test Message</div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">User2</strong>
                  <small class="text-body-secondary">Date</small>
                </div>
                <div class="col-10 mb-1 small">Test Message</div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">User3</strong>
                  <small class="text-body-secondary">Date</small>
                </div>
                <div class="col-10 mb-1 small">Test Message</div>
              </a>
            </div>
            <div class="col">
              <div class="align-items-md-center  rounded-3 text-center ">
                  $Username
              </div>
              <hr>
                <div class="rounded-2 bg-white border">
                  Message!
                </div>
                <div class="input-group align-items-end">
                  <span class="input-group-text">$</span>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGroup1" placeholder="msg">
                    <label for="floatingInputGroup1">Enter message</label>
                  </div>
                  <button class="btn btn-outline-primary ">Send</button>
                </div>
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>