<!DOCTYPE html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <script>
          function add_message() {
            var innerDiv = document.createElement('div');
            innerDiv.className = "rounded-2 bg-white border mb-3 p-3";
            innerDiv.innerHTML += document.getElementById("input_message").value;
            var outerDiv = document.getElementById("Message_block");
            outerDiv.appendChild(innerDiv);
          }
        </script>
    </head>
    <body>
        <div class="container align-self-center position-fixed" style="min-width: 1920px;">
          <div class="row align-items-stretch">
            <div class="col-3 align-items-stretch border p-2 ">
              <div class="flex-row text-center">
                <strong>Chats</strong>
              </div>
              <hr>
              <a href="#" class="list-group-item list-group-item-action h-sm border-4 border-white ">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">User1</strong>
                  <small class="text-body-secondary">Date</small>
                </div>
                <div class="col-10 mb-1 small">Test Message</div>
              </a>
              <a href="#" class="list-group-item list-group-item-action h-sm border-4 border-white">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">User2</strong>
                  <small class="text-body-secondary">Date</small>
                </div>
                <div class="col-10 mb-1 small">Test Message</div>
              </a>
              <a href="#" class="list-group-item list-group-item-action h-sm border-4 border-white">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">User3</strong>
                  <small class="text-body-secondary">Date</small>
                </div>
                <div class="col-10 mb-1 small">Test Message</div>
              </a>
            </div>
            <div class="col-9 border">
              <div class="align-self-center text-center p-1 border border-black">
                  $Username
              </div>
              <hr>
              <div id="Message_block" class="list-group list-group-flush border-bottom overflow-auto p-3 overflow-auto" style="max-width: 853px; max-height: 255px;">
                  

                <div class="rounded-2 bg-white border mb-3 p-3">
                    Message!
                </div>

                </div>
                <div class="input-group p-3 align-items-end">
                  <input type="text" id="input_message" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">

                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="add_message()">Button</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>